body{
  display: flex;
  color: darkgreen;
  position: absolute;
  width: 80%;
}

.active{
  border-radius: 15px;
    border: 1px solid silver;
  background-color: lightseagreen;
  font-style: italic;
}

#divs{
  display: inline;
}