{% extends "base.html" %}
{% block content %}
<div class="mx-auto" style="width: 900px;">
    <div>
        <div class="input-group mb-3">
            <form method="post" class="input-group mb-3">
                <label for="text" class="col-sm-12 col-form-label">Write your Todo here</label>
                <input type="text" id="text" name="add_text" placeholder="Write" class="form-control">
                <input type="submit" value="Add" class="btn btn-outline-primary mb-sm-0">
            </form>
        </div>

        <h2>Incomplete tasks</h2>
        <ol>
            {% for todo in incomplete_list %}
            <li style="font-size: 25px">{{ todo.text|capitalize }} &nbsp| {{ todo.create_on }} &nbsp <a href="{{ url_for('.complete', user=users, id=todo.id) }}" class="btn btn-outline-primary">Complete</a>
                <a  href="{{ url_for('.delete',user=users, id=todo.id) }}" class="btn btn-outline-primary">Delete</a></li><br>
            {% endfor %}
        </ol>
    </div>
<hr>

    <div>
        <h2>Complete tasks</h2>
        <ol>
        {% for todo in complete_list %}
            <li style="font-size: 25px">{{ todo.text|title }} &nbsp {{ todo.create_on }} &nbsp<a href="{{ url_for('.delete',user=users, id=todo.id) }}" class="btn btn-outline-primary">Delete</a></li><br>
        {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}

