<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Todo</title>
</head>
<body>
{{ msg }}
<br><br>
<div>
    <form action="" method="post">
        <p><label for="name">Write your name!</label></p>
        <p><input type="text" id="name" name="name"><br></p>
        <p><label for="email">Write your email!</label></p>
        <p><input type="email" id="email" name="email"><br></p>
        <p><label for="password">Write your Password!</label></p>
        <p><input type="password" id="password" name="password"><br></p>
        <input type="submit" value="Send">
    </form>
    <a href="{{ url_for('.login') }}">Вход</a>
</div>
</body>
